html, body {
  margin: 0;
  padding: 0;
  background: #F6F2ED;
}

/* Page Container */
#page-container {
  width: 100%;
  margin: auto;
}

/* Header */
#hdr {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 6%;
  width: 100%;
  background: #B1D4D5;
  box-shadow: inset 0 -3px 5px -4px #6F6F6F;
}

/* Video Title */
#title {
  display: block;
  padding: 8px;
  color: rgba(246,242,237,1);
  font: bold 20px Arial, sans-serif;
  margin: auto;
  text-shadow: -1px -1px 2px #4A9D9D;
  text-align: center;
}

#title:before, #title:after {
  content: attr(title);
  padding: 8px;
  color: rgba(255,255,255,.1);
  position: absolute;
}

#title:before {
  top: 1px;
  left: 1px;
  opacity: 0.12;
}

#title:after {
  top: 2px;
  left: 2px;
  opacity: 0.12;
}

/* Back Button */
#bck-container {
  width: 8%;
  height: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
}

#bck {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;

}

/* Forward Button */
#fwd-container {
  width: 8%;
  height: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#fwd {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
}

/* YouTube Player */
#ytplayer-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 15%;
}

/* Search Bar and Submit Container */
#searchwrapper {
  width: 634px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin-left: -317px;
}

/* Search Input */
#searchbox {
  border: 1px solid #CCC;
  background-color: white;
  width: 498px;
  height: 30px;
  position: absolute;
  top: 0%;
  text-indent: 8px;
  color: #666;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

#searchbox:focus {
  border: 1px solid #A9D6D6;
}

#searchbox:hover {
  background-color: #F7F7F7;
  border: 1px solid #A9D6D6;
}

#searchbox::-webkit-input-placeholder {
  text-indent: 8px;
  color: #CCC;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-weight: normal;
}

/* Search Submit */
#searchbox_submit {
  border: none;
  background: none;
  width: 128px;
  height: 34px;
  position: absolute;
  left: 506px;
  top: 0%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #119999;
  text-shadow: 0px -1px 1px #CBB496;
  cursor: pointer;
}

#searchbox_submit:focus {
  border: 1px solid #A9D6D6;
}

#searchbox_submit:hover {
  background-color: #F7F7F7;
  border: 1px solid #A9D6D6;
}

/* Footer */
#ftr {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background: #409597;
  box-shadow: inset 0 1px 2px 0px #525252;
}
