<div id='page-container' class='container text-center'>
  <div id='header'>
    <h1>English to Pig Latin</h1>
  </div>
  <form id='user_input'>
    <input type='text' id='english_words' class='form-control text-center' placeholder='Enter your phrase here to translate to Pig Latin. No special characters please.'><br>
    <button type='submit' id='form_submit' class='btn btn-danger'>Translate</button>
  </form>

  <div id='output' class='container'>
    <h1></h1>
  </div>
</div>
