<div id='phrase-banner'>
  <span class='big-phrase'>About Me</span>
</div> 

<!-- Resume Button -->
<div class='resume-button'>
  <a href="resume/Hunter%20Meyer's%20Resume.pdf" target='_blank'>&#8801; My Resume</a>
</div>

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <li class='about-card'>
      <div class='thumbnail'>
        <p class='information info-header'>
          <span class='info-header'>Summary</span>
          With a foothold in the fundamentals of web development and experience in marketing and consumer behavior, I relentlessly pursues clean, effective code with rigorous testing while maintaining a focus on user experience. 
        </p>
        <p class='information'>
          My mission in life is to learn as much as I can whenever I can. In order to do so I keep an open ear and open mind to the world around me. I embrace and adapt to change. This allows me to adopt new strategies, whether it be new methods in my code or new user interface styles.
        </p>
        <p class='information'>
          I also see great value in studying history. Looking back in time and learning from the past has allowed me to avoid the mistakes our predecessors made. I engrain these invaluable lessons in an effort to prevent history from having to repeat itself.
        </p>
      </div>
    </li>

    <li class='about-card'>
      <div class='thumbnail'>
        <p class='information'>
          <span class='info-header'>Education</span>
          I attended the intensive bootcamp <a href='http://epicodus.com' target='_blank'>Epicodus</a> in 2013 which immersed me in a variety of web development technologies with a focus on test-driven development in an extreme programming cycle. 
        </p>
        <p class='information'>
          I graduated from the <a href='http://ucf.edu' target='_blank'>University of Central Florida</a> in 2012 with degrees in Interpersonal / Organizational Communication and Maketing.
        </p>
      </div>
    </li>

    <li class='about-card'>
      <div class='thumbnail'>
        <p class='information'>
          <span class='info-header'>Professional</span>
          2014, <a href='http://listen360.com' target='_blank'>Listen360</a> | Software Engineer
        </p>
        <p class='information'>
          2014, <a href='http://monthlystash.com' target='_blank'>MonthlyStash</a> | Founder
        </p>
        <p class='information'>
          2014, <a href='http://jrdevjobs.com' target='_blank'>Jr.DevJobs</a> | Co-founder
        </p>
        <p class='information'>
          2013-14, <a href='http://productivityapex.com' target='_blank'>Productivity Apex</a> | Software Developer
        </p>
        <p class='information'>
          2012-13, <a href='http://huntermeyer.com' target='_blank'>Freelance</a> | Web Engineer
        </p>
        <p class='information'>
          2013-13, <a href='http://kboo.fm' target='_blank'>KBOO Community Radio</a> | Web Developer Intern
        </p>
        <p class='information'>
          2012-13, <a href='http://mercurypay.com' target='_blank'>Mercury Payment Systems</a> | Loyalty Marketing / Relationship Manager
        </p>
        <p class='information'>
          2011-12, <a href='http://sundropmobile.com' target='_blank'>Sundrop Mobile</a> | Marketing Specialist
        </p>
        <p class='information'>
          2010-11, <a href='http://lowndes-law.com' target='_blank'>Lowndes, Drosdick, Doster, Kantor & Reed</a> | Social Media Marketing Intern
        </p>

      </div>
    </li>
  </ul>
</div>
