<div id='phrase-banner'>
  <span class='big-phrase'>Web Engineer</span>
</div> 

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/cloud.png' class='thumb' id='beach'>
        <button class='read'>Web Apps</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/database.png' class='thumb' id='tree'>
        <button class='read'>Databases</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/responsive.png' class='thumb' id='hands'>
        <button class='read'>Any Device</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/test.png' class='thumb' id='match'>
        <button class='read'>Fully Tested</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/design.png' class='thumb' id='match'>
        <button class='read'>Graphics</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/social.png' class='thumb' id='match'>
        <button class='read'>Networking</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/communicate.png' class='thumb' id='match'>
        <button class='read'>Marketing</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='assets/educate.png' class='thumb' id='match'>
        <button class='read'>Tutoring</button>
      </div>
    </li>
  </ul>
</div>
