<div class='clearfix'>
  <!--Profile container-->
  <div id="profile" class="container">
    <div class="span3"> <img src="assets/mini.png"> </div>
    <div class="span5">
      <h1>Juan Dela Cruz</h1>
      <h3>Web &amp; Graphics Designer</h3>
      <p> Hello I am Juan Dela Cruz Web and Graphics Designer from Philipines. If yopu have something to be done just call my name and I will be there. :-) </p>
      <a href="#" class="hire-me"><i class="icon-paper-plane"></i> Hire Me </a>
      <div class="row social">
        <ul class="social-icons">
          <li><a href="#" target="_blank"><img src="assets/fb.png" alt="facebook"></a></li>
          <li><a href="#" target="_blank"><img src="assets/tw.png" alt="twitter"></a></li>
          <li><a href="#" target="_blank"><img src="assets/go.png" alt="google plus"></a></li>
          <li><a href="#" target="_blank"><img src="assets/pin.png" alt="pinterest"></a></li>
          <li><a href="#" target="_blank"><img src="assets/st.png" alt="stumbleupon"></a></li>
          <li><a href="#" target="_blank"><img src="assets/dr.png" alt="dribbble"></a></li>
        </ul>
      </div>
    </div>
    <!-- Social Icons -->
    <!-- END: Social Icons -->
  </div>
  <!--END: Profile container-->
  <!--Skills container-->
  <div id="skills" class="container">
    <h2>My Skills</h2>
    <div class="row">
      <div class="span3">
        <div class="ps">
          <h3>Ps</h3>
        </div>
      </div>
      <div class="span5">
        <h3>Photoshop <span>90%</span></h3>
        <div class="expand-bg"> <span class="expand ps2"> &nbsp; </span> </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="ai">
          <h3>Ai</h3>
        </div>
      </div>
      <div class="span5">
        <h3>Illustrator <span>80%</span></h3>
        <div class="expand-bg"> <span class="expand ai2"> &nbsp; </span> </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="html">
          <h3>HTML5</h3>
        </div>
      </div>
      <div class="span5">
        <h3>HTML5 <span>75%</span></h3>
        <div class="expand-bg"> <span class="expand html2"> &nbsp; </span> </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div class="css">
          <h3>CSS3</h3>
        </div>
      </div>
      <div class="span5">
        <h3>CSS3 <span>85%</span></h3>
        <div class="expand-bg"> <span class="expand css2"> &nbsp; </span> </div>
      </div>
    </div>
  </div>
  <!--END: Skills container-->
  <!-- Works container -->
  <div id="work" class="container">
    <h2>My Work</h2>
    <ul class="work-images">
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/1.jpg" title="Image 01"><img src="assets/1-thumb.jpg" /></a></div>
      </li>
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/2.jpg"><img src="assets/2-thumb.jpg" /></a></div>
      </li>
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/3.jpg"><img src="assets/3-thumb.jpg" /></a></div>
      </li>
    </ul>
    <ul class="work-images">
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/4.jpg"><img src="assets/4-thumb.jpg" /></a></div>
      </li>
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/5.jpg"><img src="assets/5-thumb.jpg" /></a></div>
      </li>
      <li>
        <div><a class="fancybox-thumb" rel="fancybox-thumb" href="assets/6.jpg"><img src="assets/6-thumb.jpg" /></a></div>
      </li>
    </ul>
    <!--Dummy images by The Fox And King :: http://dribbble.com/snootyfox-->
  </div>
  <!--END: Work container-->
  <!-- Resume container -->
  <div id="resume" class="container">
    <h2>My Resume</h2>
    <h3>You can download my resume for your reference and I hope that we will meet very soon! :)</h3>
    <div class="btn-center"> <a href="#" class="hire-me"><i class="icon-download"></i> Download Resume</a>
      <h2>125kb</h2>
    </div>
  </div>
  <!--END: Resume container-->
  <!-- Social Icons -->
  <div class="row social">
    <ul class="social-icons">
      <li><a href="#" target="_blank"><img src="assets/fb.png" alt="facebook"></a></li>
      <li><a href="#" target="_blank"><img src="assets/tw.png" alt="twitter"></a></li>
      <li><a href="#" target="_blank"><img src="assets/go.png" alt="google plus"></a></li>
      <li><a href="#" target="_blank"><img src="assets/pin.png" alt="pinterest"></a></li>
      <li><a href="#" target="_blank"><img src="assets/st.png" alt="stumbleupon"></a></li>
      <li><a href="#" target="_blank"><img src="assets/dr.png" alt="dribbble"></a></li>
    </ul>
  </div>
  <!-- END: Social Icons -->
</div>
