<div id='phrase-banner'>
  <span class='big-phrase'>Web Engineer</span>
</div> 

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/cloud.png' class='thumb' id='beach'>
        <button class='read'>Web Apps</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/database.png' class='thumb' id='tree'>
        <button class='read'>Databases</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/responsive.png' class='thumb' id='hands'>
        <button class='read'>Any Device</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/test.png' class='thumb' id='match'>
        <button class='read'>Fully Tested</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/design.png' class='thumb' id='match'>
        <button class='read'>Graphics</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/social.png' class='thumb' id='match'>
        <button class='read'>Networking</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/communicate.png' class='thumb' id='match'>
        <button class='read'>Marketing</button>
      </div>
    </li>

    <li class='card'>
      <div class='thumbnail'>
        <img src='https://googledrive.com/host/0BzGPB-VGfaP5ZXRCRGdYYkdSMGs/educate.png' class='thumb' id='match'>
        <button class='read'>Tutoring</button>
      </div>
    </li>
  </ul>
</div>
