<section id='about'>
  <div class='row'>
    <div class='three columns'>
      <img class='profile-pic'  src='https://lh3.googleusercontent.com/-tv0H5y-sDkE/U-j6SNTaNrI/AAAAAAAAD_o/9imBWBfhGzM/s523-no/me_outside.png' alt='Hunter Profile   Pic' />
    </div>
    <div class='nine columns main-col'>
      <h2>About Me</h2>
      <p style='margin-bottom: 10px'>
        I'm a left handed, blue-eyed fella who enjoys programming, traveling, strumming the guitar, playing yard games and board games, watching movies, and cooking out with the family. I spent the first 12 years of my life up in New York before moving on down to sunny Florida. After graduating from UCF and getting acquired in 2012, I relocated to the highlands of Denver, CO. I miss snowboarding. While wizzing away at mobile marketing and business development I caught the programming bug! A year later I moved back home, taught myself the basics of programming and decided to move to Portland, OR to attend a coding bootcamp. Four months later, I find myself here in Alpharetta, GA at a kick ass Rails shop churning out code! I'm excited for my future and I love my girlfriend!
      </p>
      <div class='row'>
        <div class='columns contact-details'>
          <p class='address'>
            <span><i class='fa fa-map-marker'></i><a href='https://goo.gl/maps/vM5T2' target='_blank'> Alpharetta, GA 30024 US</a></span><br>
            <span><i class='fa fa-comment'></i><a href='#contact'> Contact Me</a></span>
          </p>
        </div>
        <div class='columns download'>
          <p>
            <a href='http://s3-us-west-2.amazonaws.com/jrdevsresumes/resumes/1392610446741021/hunter_meyer_resume.pdf' class='button' target='_blank'><i class='fa fa-download'></i>Download Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
