<section id='about'>
  <div class='row'>
    <div class='three columns'>
      <img class='profile-pic'  src='https://lh3.googleusercontent.com/-tv0H5y-sDkE/U-j6SNTaNrI/AAAAAAAAD_o/9imBWBfhGzM/s523-no/me_outside.png' alt='Hunter Profile   Pic' />
    </div>
    <div class='nine columns main-col'>
      <h2>About Me</h2>
      <p style='margin-bottom: 10px'>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
      </p>
      <div class='row'>
        <div class='columns contact-details'>
          <h2 style='margin: 5px 0;'>Contact Details</h2>
          <p class='address'>
            <span>Hunter Meyer</span><br>
            <span><i class='fa fa-map-marker'></i><a href='https://goo.gl/maps/vM5T2' target='_blank'> Alpharetta, GA 30024 US</a></span><br>
            <span class='contact-address'><i class='fa fa-envelope'></i></span>
          </p>
        </div>
        <div class='columns download'>
          <p>
            <a href='http://s3-us-west-2.amazonaws.com/jrdevsresumes/resumes/1392610446741021/hunter_meyer_resume.pdf' class='button' target='_blank'><i class='fa fa-download'></i>Download Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
