<div class='row education'>
  <div class='three columns header-col'>
    <h1><span>Education</span></h1>
  </div>
  <div class='nine columns main-col'>
    <div class='row item'>
      <div class='twelve columns'>
        <h3>Johns Hopkins University</h3>
        <p class='info'>
          <a href='https://www.coursera.org/specialization/jhudatascience/1' target='_blank'>Data Science Specialization</a>
          <span>&bull;</span> <em class='date'>Feb 2014 - Current</em>
        </p>
        <p>
          Identify and classify data science problems, learn the principles of tidy data and data sharing, apply the tools for data cleaning and manipulation, make visual representations of data using plotting systems in R, create rich analytic graphics from different types of datasets, create visualizations of multidimensional data using exploratory multivariate statistical techniques, perform inferential tasks in highly targeted settings, fit regression models, interpret coefficients, investigate residuals and variability, apply multiple machine learning tools, build and evaluate predictors on real data, communicate using statistics and statistical products.
        </p>
       </div>
    </div>
    <div class='row item'>
      <div class='twelve columns'>
        <h3>University of Maryland, College Park</h3>
        <p class='info'>
          <a href='https://www.coursera.org/specialization/cybersecurity/7' target='_blank'>Cybersecurity Specialization</a>
          <span>&bull;</span> <em class='date'>Jan 2015 - Current</em></p>
        <p>
          Design and build secure systems through principles of human-computer interaction and in-depth study of Usable Security (authentication passwords, two-factor auth, biometrics, tracking, secure and anonymous browsing, data sharing), as well as Software Security (low-level memory based attacks, buffer overflows, SQL injection, session hijacking, penetration testing), Cryptography (private-key, public-key, authenticated encryption, digital signatures, stream and block ciphers, hash functions, Diffie-Hellman Key Exchange, El Gamal Encryption, RSA), and Hardware Security (trojans, side-channel attacks, ElectroMagnetic analysis, fault injection attack, Trust Platform Modules, Physical Unclonable Functions, RFID).
        </p>
      </div>
    </div>
    <div class='row item'>
      <div class='twelve columns'>
        <h3>University of Texas, Austin</h3>
        <p class='info'>
          <a href='https://www.edx.org/course/foundations-data-analysis-utaustinx-ut-7-01x' target='_blank'>Foundations of Data Analysis</a>
          <span>&bull;</span> <em class='date'>Nov 2014 - Current</em>
        </p>
        <p>
          Hands on course with a data lab to teach fundamental statistical topics such as descriptive statistics, inferential testing, and modeling using the R programming language. Concepts include describing normal distributions, univariate descriptive statistics, bivariate distributions and indentifying relationships between quantitative data, identifying relationships between categorical data, linear function models, exponential and logistic function models, sampling distribution and estimation, and hypothesis testing.
        </p>
      </div>
    </div>
    <div class='row item'>
      <div class='twelve columns'>
        <h3>Epicodus</h3>
        <p class='info'>
          <a href='http://epicodus.com' target='_blank'>Web Development</a>
          <span>&bull;</span> <em class='date'>July 2014 - Aug 2014</em>
        </p>
        <p>
          Epicodus is a four month, forty hour per week, in-person class on programming in Portland, Oregon. Each day starts with a 5-10 minute standup, where students can share anything with the rest of the class: coding tricks they learned, interesting blog posts they read, upcoming meetups they're going to. Then students spend the entire rest of the day coding a new program each day using pair-programming and test driven development. At the end of the course students pair in groups of ~6 to apply all of their technical and project management skills to build a real-world application for a local business. Skills include Ruby, Rails, SQL, jQuery, Active Record, Javascript, AJAX, AngularJS, HTML and CSS, and APIs.
        </p>
      </div>
    </div>
    <div class='row item'>
      <div class='twelve columns'>
        <h3>University of Central Florida</h3>
        <p class='info'>
          <a href='http://www.ucf.edu/' target='_blank'>B.A. Interpersonal/Organizational Communication & Marketing</a>
          <span>&bull;</span> <em class='date'>Aug 2010 - May 2014</em>
        </p>
        <p style='margin-bottom: 0px;'>
          The field of communication-studies that deals with how we communicate within organizations and in interpersonal settings. Heavy focus on the study and research of oral communication, human relations, logical reasoning, argumentation and debate, gender and intercultural issues, conflict management, nonverbal and attitude analysis, and visual communication. The marketing concentration focused on intelligence gathering, supply chain and operations management, consumer behavior, analysis and research, and marketing strategy.
          <ul><span style='font-weight: bold;'>Awards</span>:
            <li>Vice-President's Gold Medal of Honor</li>
            <li>Dean's List</li>
            <li>Lambda Pi Eta Communication Honor Society</li>
            <li>Phi Sigma Pi National Honor Fraternity</li>
            <li>Tau Sigma National Honor Society</li>
          </ul>
        </p>
      </div>
    </div>
 </div>
</div>