<section id='portfolio'>
  <div class='row'>
    <div class='twelve columns collapsed'>
      <h1>Check Out Some of My Works.</h1>
      <div id='portfolio-wrapper' class='bgrid-quarters s-bgrid-thirds cf'>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-01' title=''>
              <img alt='Jr.DevJobs' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/jrdevjobs.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>Jr.DevJobs</h5>
                  <p>Find your first dev job</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-02' title=''>
              <img alt='MonthlyStash' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/monthlystash.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>MonthlyStash</h5>
                  <p>Discreet deliveries</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-03' title=''>
              <img alt='MantraGram' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/mantragram.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>MantraGram</h5>
                  <p>Remember your inspiration</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-04' title=''>
              <img alt='Squeak' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/squeak.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>Squeak</h5>
                  <p>Start your marathon</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-05' title=''>
              <img alt='FleetZoo' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/fleetzoo.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>FleetZoo</h5>
                  <p>Integrated fleet management</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-06' title=''>
              <img alt='MusicSearch' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/musicsearch.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>MusicSearch</h5>
                  <p>Discover more about your tunes</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-07' title=''>
              <img alt='ECS' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/ecs.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>ECS | 2014</h5>
                  <p>Learn and share</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
        <div class='columns portfolio-item'>
          <div class='item-wrap'>
            <a href='#modal-08' title=''>
              <img alt='Legislator' src='https://s3-us-west-2.amazonaws.com/huntermeyer/images/legislator.png'>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5>Legislator Lookup</h5>
                  <p>Stay informed</p>
                </div>
              </div>
              <div class='link-icon'><i class='fa fa-plus'></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- MODALS -->

    <div id='modal-01' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-coffee.jpg' alt='' />
      <div class='description-box'>
        <h4>Coffee Cup</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Branding, Webdesign</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-02' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-console.jpg' alt='' />
      <div class='description-box'>
        <h4>Console</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Branding, Web Development</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-03' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-judah.jpg' alt='' />
      <div class='description-box'>
        <h4>Judah</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Branding</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-04' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-intothelight.jpg' alt='' />
      <div class='description-box'>
        <h4>Into the Light</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Photography</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-05' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-farmerboy.jpg' alt='' />
      <div class='description-box'>
        <h4>Farmer Boy</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Branding, Webdesign</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-06' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-girl.jpg' alt='' />
      <div class='description-box'>
        <h4>Girl</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Photography</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-07' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-origami.jpg' alt='' />
      <div class='description-box'>
        <h4>Origami</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Branding, Illustration</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
    <div id='modal-08' class='popup-modal mfp-hide'>
      <img class='scale-with-grid' src='images/portfolio/modals/m-retrocam.jpg' alt='' />
      <div class='description-box'>
        <h4>Retrocam</h4>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class='categories'><i class='fa fa-tag'></i>Webdesign, Photography</span>
      </div>
      <div class='link-box'>
        <a href='http://www.behance.net'>Details</a>
        <a class='popup-modal-dismiss'>Close</a>
      </div>
    </div>
  </div>
</section>
