<div id='profile' class='container'>
  <div class='span3'><img src='https://lh5.googleusercontent.com/-tv0H5y-sDkE/U-j6SNTaNrI/AAAAAAAAD_o/9imBWBfhGzM/s495-no/me_outside.png'></div>
  <div class='span5'>
    <h1>Hunter Meyer</h1>
    <h3>Software Engineer</h3>
    <p>I like to build things people will actually use.</p>
    <div>
      <ul class='social-icons'>
        <li><a href='https://linkedin.com/in/hrmeyer' target='_blank'><i class='fa fa-linkedin'></i></a></li>
        <li><a href='https://github.com/huntermeyer' target='_blank'><i class='fa fa-github'></i></a></li>
        <li><a href='https://twitter.com/hunnafresh' target='_blank'><i class='fa fa-twitter'></i></a></li>
        <li><a href='https://soundcloud.com/hunnafresh' target='_blank'><i class='fa fa-soundcloud'></i></a></li>
      </ul>
    </div>
  </div>
</div>
