<div id='profile' class='container'>
  <div class='span3'> <img src='assets/mini.png'> </div>
  <div class='span5'>
    <h1>Hunter Meyer</h1>
    <h3>Software Engineer</h3>
    <p>I like to build things people will actually use.</p>
    <div>
      <ul class='social-icons'>
        <!-- <li><a href='#' target='_blank'><img src='assets/fb.png' alt='facebook'></a></li> -->
        <li><a href='https://twitter.com/hunnafresh' target='_blank'><img src='assets/tw.png' alt='twitter'></a></li>
        <!-- <li><a href='#' target='_blank'><img src='assets/go.png' alt='google plus'></a></li> -->
        <!-- <li><a href='#' target='_blank'><img src='assets/pin.png' alt='pinterest'></a></li> -->
        <!-- <li><a href='#' target='_blank'><img src='assets/st.png' alt='stumbleupon'></a></li> -->
        <!-- <li><a href='#' target='_blank'><img src='assets/dr.png' alt='dribbble'></a></li> -->
      </ul>
    </div>
  </div>
</div>
