<div id='work' class='container'>
  <h2>My Work</h2>
  <ul class='work-images'>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/1.jpg' title='Image 01'><img src='assets/1-thumb.jpg' /></a></div>
    </li>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/2.jpg'><img src='assets/2-thumb.jpg' /></a></div>
    </li>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/3.jpg'><img src='assets/3-thumb.jpg' /></a></div>
    </li>
  </ul>
  <ul class='work-images'>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/4.jpg'><img src='assets/4-thumb.jpg' /></a></div>
    </li>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/5.jpg'><img src='assets/5-thumb.jpg' /></a></div>
    </li>
    <li>
      <div><a class='fancybox-thumb' rel='fancybox-thumb' href='assets/6.jpg'><img src='assets/6-thumb.jpg' /></a></div>
    </li>
  </ul>
  <!--Dummy images by The Fox And King :: http://dribbble.com/snootyfox-->
</div>
