<div class='row skill'>
  <div class='three columns header-col'>
    <h1><span>Skills</span></h1>
  </div>
  <div class='nine columns main-col'>
    <div class='bars'>
      <ul class='skills'>
        <% @skills.each do |s| %>
          <li><span class='bar-expand skill' style='<%= "width: #{s.width}%" %>'></span><em><%= s.name %></em></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
