<div id='skills' class='container'>
  <h2>My Skills</h2>
  <div class='row'>
    <div class='span3'>
      <div class='skill ror'>
        <h3>RoR</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>Ruby on Rails <span>90%</span></h3>
      <div class='expand-bg'> <span class='expand ror2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill js'>
        <h3>JS</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>JavaScript <span>80%</span></h3>
      <div class='expand-bg'> <span class='expand js2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill psql'>
        <h3>pSQL</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>PostgreSQL <span>70%</span></h3>
      <div class='expand-bg'> <span class='expand psql2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill r'>
        <h3>R</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>R Studio <span>60%</span></h3>
      <div class='expand-bg'> <span class='expand r2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill unix'>
        <h3>Unix</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>UNIX <span>60%</span></h3>
      <div class='expand-bg'> <span class='expand unix2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill html'>
        <h3>HTML5</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>HTML5 <span>75%</span></h3>
      <div class='expand-bg'> <span class='expand html2'> &nbsp; </span> </div>
    </div>
  </div>
  <div class='row'>
    <div class='span3'>
      <div class='skill css'>
        <h3>CSS3</h3>
      </div>
    </div>
    <div class='span5'>
      <h3>CSS3 <span>85%</span></h3>
      <div class='expand-bg'> <span class='expand css2'> &nbsp; </span> </div>
    </div>
  </div>
</div>
