<div class='row social'>
  <ul class='social-icons'>
    <li><a href='#' target='_blank'><img src='assets/fb.png' alt='facebook'></a></li>
    <li><a href='#' target='_blank'><img src='assets/tw.png' alt='twitter'></a></li>
    <li><a href='#' target='_blank'><img src='assets/go.png' alt='google plus'></a></li>
    <li><a href='#' target='_blank'><img src='assets/pin.png' alt='pinterest'></a></li>
    <li><a href='#' target='_blank'><img src='assets/st.png' alt='stumbleupon'></a></li>
    <li><a href='#' target='_blank'><img src='assets/dr.png' alt='dribbble'></a></li>
  </ul>
</div>
