<div class="flex bg-gray-100">
  <section class="max-w-md sm:max-w-xl lg:max-w-6xl mx-auto px-8 lg:px-12 py-8">
    <div class="text-xl text-gray-900">My Work</div>
    <div class="text-gray-600">A selection of some of the stuff we've done</div>

    <div class="flex flex-wrap -mx-4">
      <% @work.each do |work| %>
        <div class="mt-6 w-full px-4 lg:w-1/2 xl:w-1/3">
          <%= link_to '#', class: 'flex items-center rounded-lg bg-white shadow-lg hover:shadow-xl overflow-hidden' do %>
            <%= image_tag work.image_url, class: 'h-32 w-32 object-center object-cover flex-shrink-0', title: work.name %>
            <div class="px-6 py-4 self-start">
              <h3 class="text-lg font-semibold text-gray-800"><%= work.name %></h3>
              <p class="text-gray-600"><%= work.caption %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
