<div id='phrase-banner'>
    <span class='big-phrase'>Contact Me</span>
</div>

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <li class='about-card'>
      <div class='thumbnail' id='move-footer'>
        <p class='information info-header'>
          <span class='info-header'>Get in Touch</span>
          <%= form_for @contact, html: { class: 'form-horizontal'} do |f| %>
            <%= f.text_field :email, class: 'span9', placeholder: 'example@email.com' %>
            
          <% end %>
        </p>
      </div>
    </li>
  </ul>
</div>
