<div id='phrase-banner'>
    <span class='big-phrase'>Contact Me</span>
</div>

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <li class='about-card'>
      <div class='thumbnail' id='move-footer'>
        <p class='information info-header'>
          <span class='info-header'>Get in Touch</span>
          <%= form_for @contact, html: { class: 'contact-form'} do |f| %>
            <span class='tiny-info'>Email and message required.</span>
            <%= f.text_field :email, class: 'contact-input', placeholder: 'example@email.com' %>
            <%= f.text_area  :content, rows: 3, class: 'contact-input', placeholder: "What's on your mind?" %>
            <%= f.submit 'Send', class: 'submit-button' %>
          <% end %>
        </p>
      </div>
    </li>
  </ul>
</div>
