<div id='account-wrapper'>
  <%= image_tag 'piggy_org.png', id: 'piggy' %>
  <h3 class='pull-right'>Credit Card Check</h3>
  <form id='account-number'>
    <input type='text' id='user-input' placeholder='Enter number here'>
  </form>

  <p class='card-name'>John Doe</p>
</div>

<div id='output'>
  <h2 id='valid'>Account number <span class='green'>Valid</span></h2>
  <h2 id='invalid'>Account number <span class='red'>Invalid</span></h2>
</div>
