<div id='phrase-banner'>
  <span class='big-phrase'>My Projects</span>
</div>

<!-- Information Cards -->
<div id='card-container'>
  <ul class='thumbnails' id='cards'>
    <% @projects.each do |project| %>
      <li class='card'>
        <div class='thumbnail'>
          <%= image_tag project.image_url, class: 'thumb' %>
          <div class='demo-button'>
            <%= link_to project.demo_url, target: '_blank' do %>
              <i class='icon-ok'></i> Demo
            <% end %>
          </div>
          <div class='code-button'>
            <%= link_to project.repo_url, target: '_blank' do %>
              <i class='icon-align-justify'></i> Code           
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
