<div class='container'>
  <h1 style='margin-top: 5px;'>Music Search</h1>
  <hr style='margin: 0 0 10px 0;'>
  <p>
    Search for songs, albums, or artists to view releant info and stream tracks through Spotify and the videos through YouTube.
  </p>

  <form id='music-search'>
    <input class='query-input' name='q' id='keywords' type='text' placeholder='Song, Artist, Album Name'></input>
    <button class='btn btn-primary' type='submit'>Find!</button>
  </form>

  <ul id='tracks'></ul>

<div>
