<div class='inputContainer'>
  <h2>Look up your legislators</h2>
  <form id='get-zip'>
    <input id='zip' placeholder='Enter a Zip Code' type='text' autofocus='true'>
    <button id='submit' type='submit'>Go</button>
  </form>
</div>

<div class='row-fluid' id='card-container'></div>
