<div id='bck-container'>
  <img alt='previous video' src='https://googledrive.com/host/0BzGPB-VGfaP5amRHcWZpZXlmU0E/back.png' id='bck'>
</div>

<div id='fwd-container'>
  <img alt='next video' src='https://googledrive.com/host/0BzGPB-VGfaP5amRHcWZpZXlmU0E/fwd.png' id='fwd'>
</div>

<div id='ytplayer-container' align='center'>
  <div id='ytplayer'></div>
</div>

<br>
<br>

<div id='searchwrapper'>
  <input type='text' id='searchbox' name='s' placeholder='Start your marathon...'>
  <input type='button' id='searchbox_submit' value='Squeak it!'>
</div>

