<style>
  .no-b-mar { margin-bottom: 0; }
  .section-title {
    position: relative;
    font-size: 22px;
  }

  .section-title.grey-section span { background: #1090b1; }
  .section-title.teal-section span { background: #10a3b1; }

  .section-title span {
    position: relative;
    display: inline-block;
    padding: 0 1.4em;
  }

  .section-title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #fff;
  }
</style>

<div style='background:#10a3b1;padding-bottom: 60px;'>
  <%= render 'about_me' %>
  <%= render 'reading_list' %>
</div>

<div style='background:#1090b1;padding-bottom: 60px;padding-top:10px;'>
  <%= render 'positions' %>
</div>
