<section class="container grid-960">
  <div class="divider text-center brand-font mt-25" data-content="Featured Developers"></div>
  <p class="text-center">
    Check out the profiles of some of our top junior developers... These job seekers are truly exceptional!
  </p>
  <div class="columns">
    <div class="column col-6 col-sm-12">
      <div class="panel shadow hoverable ease svg-circuit-boards">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xxl">
            <a href="#!">
              <img src="https://s3-us-west-2.amazonaws.com/jrdevsresumes/avatars/1474411562f71e9c5d/me.jpg?1474412630">
            </a>
          </figure>
          <div class="panel-title mt-10"><a class="bg-white p-10" href="#!">Micharl Irby</a></div>
          <div class="panel-subtitle">
            <span class="bg-white pb-10 pr-10 pl-10">
              <i class="el el-chevron-left"></i>/<i class="el el-chevron-right"></i> JavaScript, HTML, CSS
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="panel shadow hoverable ease svg-circuit-boards">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xxl">
            <a href="#!">
              <img src="https://s3-us-west-2.amazonaws.com/jrdevsresumes/avatars/1486302251906237f1/FullSizeRender_(2).jpg?1486305026">
            </a>
          </figure>
          <div class="panel-title mt-10"><a class="bg-white p-10" href="#!">Chantelle Becker</a></div>
          <div class="panel-subtitle">
            <span class="bg-white pb-10 pr-10 pl-10">
              <i class="el el-chevron-left"></i>/<i class="el el-chevron-right"></i> PHP, Ruby, CSS
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="panel shadow hoverable ease svg-circuit-boards">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xxl">
            <a href="#!">
              <img src="https://s3-us-west-2.amazonaws.com/jrdevsresumes/avatars/143872688919e10994/83aae181-3a78-4a1e-b6a7-484b23f3c746.jpg?1450668289">
            </a>
          </figure>
          <div class="panel-title mt-10"><a class="bg-white p-10" href="#!">Ellen Sun</a></div>
          <div class="panel-subtitle">
            <span class="bg-white pb-10 pr-10 pl-10">
              <i class="el el-chevron-left"></i>/<i class="el el-chevron-right"></i> CoffeeScript, PHP, CSS
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="panel shadow hoverable ease svg-circuit-boards">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xxl">
            <a href="#!">
              <img src="https://s3-us-west-2.amazonaws.com/jrdevsresumes/avatars/1485196294206d224a/marc_immediato_profile.jpg?1485210629">
            </a>
          </figure>
          <div class="panel-title mt-10"><a class="bg-white p-10" href="#!">Marc Immediato</a></div>
          <div class="panel-subtitle">
            <span class="bg-white pb-10 pr-10 pl-10">
              <i class="el el-chevron-left"></i>/<i class="el el-chevron-right"></i> React, Redux, jQuery
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-20 mb-20">
    <p class="text-grey">Become a Featured Developer and Let Employers Find You!</p>
    <a href="#" class="btn btn-primary"><i class="el el-play-alt"></i> Create a Profile</a>
  </div>
</section>
