<section class="container grid-960">
  <div class="divider text-center brand-font mt-25" data-content="Featured Jobs"></div>
  <p class="text-center">
    Jobs posted to Jr.DevJobs must meet certain criteria, such as requiring 1 or fewer years of experience.<br>
    Certain jobs really stand out by offering an ideal opportunity for a junior developer.
    These postings get a special feature below.
  </p>
  <div class="columns">
    <div class="column col-6 col-sm-12">
      <div class="card shadow hoverable">
        <div class="card-header">
          <div class="card-title mb-5"><a href="#">Ruby Developer Intern</a></div>
          <div class="card-subtitle">
            <span class="mr-10"><i class="el el-website"></i> Groundswell</span>
            <span class="mr-10"><i class="el el-map-marker"></i> Jacksonville, FL</span>
          </div>
        </div>
        <div class="card-body">
          Groundswell is a project management and accounting system built for law firms. Our users become m...
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View</a>
          <div class="dropdown">
            <a href="#!" class="btn dropdown-toggle" tabindex="0">
              <i class="el el-share-alt"></i>
            </a>
            <ul class="menu thin high">
              <li class="menu-item" title="Twitter"><a href="#!"><i class="el el-twitter"></i></a></li>
              <li class="menu-item" title="Facebook"><a href="#!"><i class="el el-facebook"></i></a></li>
              <li class="menu-item" title="LinkedIn"><a href="#!"><i class="el el-linkedin"></i></a></li>
              <li class="menu-item" title="Email"><a href="#!"><i class="el el-envelope"></i></a></li>
            </ul>
          </div>
          <div class="float-right card-subtitle mt-10" style="font-size: 1.1rem;">
            <i class="el el-calendar"></i> 3 Days Old
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="card shadow hoverable">
        <div class="card-header">
          <div class="card-title mb-5"><a href="#">Jr. Software Engineer</a></div>
          <div class="card-subtitle">
            <span class="mr-10"><i class="el el-website"></i> Fandango</span>
            <span class="mr-10"><i class="el el-map-marker"></i> Santa Monica, CA</span>
          </div>
        </div>
        <div class="card-body">
          Do you love movies? Do you love to code? Then combine these two passions into a great career buil...
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View</a>
          <div class="dropdown">
            <a href="#!" class="btn dropdown-toggle" tabindex="0">
              <i class="el el-share-alt"></i>
            </a>
            <ul class="menu thin high">
              <li class="menu-item" title="Twitter"><a href="#!"><i class="el el-twitter"></i></a></li>
              <li class="menu-item" title="Facebook"><a href="#!"><i class="el el-facebook"></i></a></li>
              <li class="menu-item" title="LinkedIn"><a href="#!"><i class="el el-linkedin"></i></a></li>
              <li class="menu-item" title="Email"><a href="#!"><i class="el el-envelope"></i></a></li>
            </ul>
          </div>
          <div class="float-right card-subtitle mt-10" style="font-size: 1.1rem;">
            <i class="el el-calendar"></i> 3 Days Old
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="card shadow hoverable">
        <div class="card-header">
          <div class="card-title mb-5"><a href="#">Entry Level QA Engineer</a></div>
          <div class="card-subtitle">
            <span class="mr-10"><i class="el el-website"></i> Lone Wolf Real Estate Technologies</span>
            <span class="mr-10"><i class="el el-map-marker"></i> Dallas, TX</span>
          </div>
        </div>
        <div class="card-body">
          The Associate QA Engineer will be responsible for owning and executing all test plans for Lone Wo...
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View</a>
          <div class="dropdown">
            <a href="#!" class="btn dropdown-toggle" tabindex="0">
              <i class="el el-share-alt"></i>
            </a>
            <ul class="menu thin high">
              <li class="menu-item" title="Twitter"><a href="#!"><i class="el el-twitter"></i></a></li>
              <li class="menu-item" title="Facebook"><a href="#!"><i class="el el-facebook"></i></a></li>
              <li class="menu-item" title="LinkedIn"><a href="#!"><i class="el el-linkedin"></i></a></li>
              <li class="menu-item" title="Email"><a href="#!"><i class="el el-envelope"></i></a></li>
            </ul>
          </div>
          <div class="float-right card-subtitle mt-10" style="font-size: 1.1rem;">
            <i class="el el-calendar"></i> 3 Days Old
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-sm-12">
      <div class="card shadow hoverable">
        <div class="card-header">
          <div class="card-title mb-5"><a href="#">Entry Level Computer Support</a></div>
          <div class="card-subtitle">
            <span class="mr-10"><i class="el el-website"></i> Sacramento Medical Group</span>
            <span class="mr-10"><i class="el el-map-marker"></i> Sacramento, CA</span>
          </div>
        </div>
        <div class="card-body">
          Computer networks are critical parts of almost every organization. Network and computer systems a...
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View</a>
          <div class="dropdown">
            <a href="#!" class="btn dropdown-toggle" tabindex="0">
              <i class="el el-share-alt"></i>
            </a>
            <ul class="menu thin high">
              <li class="menu-item" title="Twitter"><a href="#!"><i class="el el-twitter"></i></a></li>
              <li class="menu-item" title="Facebook"><a href="#!"><i class="el el-facebook"></i></a></li>
              <li class="menu-item" title="LinkedIn"><a href="#!"><i class="el el-linkedin"></i></a></li>
              <li class="menu-item" title="Email"><a href="#!"><i class="el el-envelope"></i></a></li>
            </ul>
          </div>
          <div class="float-right card-subtitle mt-10" style="font-size: 1.1rem;">
            <i class="el el-calendar"></i> 3 Days Old
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-20 mb-20">
    <a href="#" class="btn btn-primary"><i class="el el-play-alt"></i> All Jobs</a>
  </div>
</section>
