<section class="container grid-960 show-md">
  <section class="columns">
    <div id="sidebar" class="mobile-sidebar column col-3 col-sm-12">
      <ul class="mobile-nav nav">
        <li class="nav-item active">
          <a href="#sidebar-close"><i class="el el-remove"></i></a>
          <a href="#!" class="inline-block navbar-brand brand-font">Jr.DevJobs</a>
        </li>
        <li class="nav-item">
          <a href="#!">All Jobs</a>
        </li>
        <li class="nav-item">
          <a href="#!">Post a Job</a>
        </li>
        <li class="nav-item">
          <a href="#!">Insights</a>
        </li>
        <li class="nav-item">
          <a href="#!">Companies</a>
        </li>
        <li class="nav-item">
          <a href="#!">Articles</a>
        </li>
        <li class="nav-item">
          <a href="#!">Slack</a>
        </li>
        <li class="nav-item">
          <div class="divider"></div>
        </li>
        <li class="nav-item">
          <a href="#!">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="#!">Sign In</a>
        </li>
      </ul>
    </div>
    <a href="#sidebar-close" id="sidebar-close" class="mobile-nav-clear"></a>
  </section>
</section>
