<section class="section-header main-navbar">
  <section class="container grid-960">
    <nav class="navbar" style="height: 4rem;">
      <section class="navbar-section">
        <a href="#" class="navbar-brand mr-10 brand-font"><span>Jr.</span>DevJobs</a>
        <a href="#" class="btn btn-link">All Jobs</a>
        <a href="#" class="btn btn-link">Post a Job</a>
        <a href="#" class="btn btn-link">Insights</a>
        <a href="#" class="btn btn-link">Companies</a>
        <a href="#" class="btn btn-link">Articles</a>
        <a href="#" class="btn btn-link">Slack</a>
      </section>
      <section class="navbar-section">
        <a href="#" class="btn btn-link">Sign Up</a>
        <a href="#" class="btn btn-link">Sign In</a>
      </section>
    </nav>
  </section>
</section>
