<section class="section-header main-navbar">
  <section class="container grid-960">
    <nav class="navbar" style="height: 4rem;">
      <section class="navbar-section">
        <a href="#sidebar" class="btn btn-lg btn-link btn-action show-md"><i class="el el-lines"></i></a>
        <a href="#" class="navbar-brand mr-10 brand-font"><span>Jr.</span>DevJobs</a>
        <a href="#" class="btn btn-link hide-sm">All Jobs</a>
        <a href="#" class="btn btn-link hide-sm">Post a Job</a>
        <a href="#" class="btn btn-link hide-md">Insights</a>
        <a href="#" class="btn btn-link hide-md">Companies</a>
        <a href="#" class="btn btn-link hide-md">Articles</a>
        <a href="#" class="btn btn-link hide-md">Slack</a>
      </section>
      <section class="navbar-section hide-sm">
        <a href="#" class="btn btn-link">Sign Up</a>
        <a href="#" class="btn btn-link">Sign In</a>
      </section>
    </nav>
  </section>
</section>
