<section class="splash homepage" style="color:#fff; padding: 60px 0;">
  <section class="container grid-960">
    <div class="text-center">
      <h2 class="brand-font">Find your First Developer Job</h2>
      <h5>Jobs for Bootcamp Grads and Junior Level Programmers</h5>
    </div>
    <div class="columns">
      <div class="column col-9 centered col-xs-12">
        <div class="input-group">
          <input type="text" class="form-input input-lg" auofocus="true" placeholder="Search Jobs by Title, Skills, City/State, Company...">
          <button class="btn btn-primary input-group-btn btn-lg">
            <i class="el el-search"></i> Search
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
