@import "legislator_bootstrap";

html, body {
  background-image:url('https://googledrive.com/host/0BzGPB-VGfaP5LTBjZ0VPSEo4azA/background.png');
  background-repeat:repeat;
}

#pics {
  height: 150px;
  margin-top: -112px;
}

.person {
  margin-left: -20px;
}

.chamber {
  text-transform: capitalize;
}

ul {
  display: inline-block;
  padding-top: 16px;
  list-style-position: inside;
}

h2 {
  padding-top: 10px;
}

.icons {
  width: 30px;
  height: 30px;
}

.inputContainer {
  margin: 0 auto;
  width: 410px;
  height: 105px;
  padding-left: 24px;
  background-color: white;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 10px;
}

#zip {
  height: 35px;
  width: 290px;
  box-shadow: inset 0px 1px 2px black;
  border: none;
  background-color: #ececec;
  border-radius: 3px;
  text-indent: 8px;
}

#submit {
  height: 35px;
  background-color: #3d58fc;
  color: white;
  border: none;
  border-radius: 3px;
  padding-bottom: 2px;
  width: 63px;
}

.leftHeader {
  margin: 0 auto;
  width: 410px;
  height: 150px;
  background-color: white;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 10px;
}

.links {
  color: #428bca;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #F5AF32;
  }
}

#bills {
  padding-top: 0;
  padding-left: 0;
}
