<section class="w-full fixed bg-white shadow-md py-2 px-8" id="navbar">
  <div class="flex items-center justify-between w-full max-w-lg md:max-w-4xl mx-auto">
    <div>
      <%= link_to 'Hunter Meyer', root_path, title: 'Hunter Meyer', class: 'text-xl font-semibold' %>
    </div>
    <div>
      <%= link_to 'Contact Me', title: 'Contact Me', class: 'text-sm' %>
    </div>
  </div>
</section>
