<div class='footer'>
  <div class='container'>
    <p class='pull-left'><a href='http://dzyngiri.com'>www.dzyngiri.com</a></p>
    <p class='pull-right'><a href='##myModal' role='button' data-toggle='modal'>CONTACT</a></p>
  </div>
</div>
