<li><a href='https://twitter.com/hunnafresh' target='_blank' title='Twitter'><i class='fa fa-twitter'></i></a></li>
<li><a href='https://github.com/huntermeyer' target='_blank' title='GitHub'><i class='fa fa-github'></i></a></li>
<li><a href='https://linkedin.com/in/hrmeyer' target='_blank' title='LinkedIn'><i class='fa fa-linkedin'></i></a></li>
<li><a href='http:s//stackoverflow.com/users/1953904/huntermeyer' target='_blank' title='Stack Overflow'><i class='fa fa-stack-overflow'></i></a></i>
<li><a href='https://news.ycombinator.com/submitted?id=huntermeyer' target='_blank' title='Hacker News'><i class='fa fa-hacker-news'></i></a></li>
<li><a href='https://soundcloud.com/hunnafresh' target='_blank' title='SoundCloud'><i class='fa fa-soundcloud'></i></a></li>
