<!DOCTYPE html>
<html>
<head>
  <title>Hunter Meyer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='banner'>
    <p id='banner-text'><span class='small-letter'>H</span>unter <span class='small-letter'>M</span>eyer</p>
  </div>
  
  <div id='banner-links'>
    <a href='index.html' class='links'>Home</a>
    <a href='about.html' class='links'>About</a>
    <a href='projects.html' class='links'>Projects</a>
    <a href='contact.html' class='links'>Contact</a>
  </div>

  <div id='middle-banner'>
    <img src='assets/me.jpg' class='img-square' id='me-pic'>
  </div>
  
  <div id='phrase-banner'>
    <span class='big-phrase'>Web Engineer</span>
  </div> 
  
  <%= yield %>
</body>
</html>
