<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sandbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= render 'spectre' %>
    <%= render 'custom' %>
    <%= render 'icons' %>
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  </head>
  <body style='margin-bottom:200px;'>
    <%= yield %>
  </body>
</html>
