<!DOCTYPE HTML>
<html>
<head>
  <title>Triangle Evaluator</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  <link href="css/styles.css" rel="stylesheet" type="text/css" media="all">
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <div id="container" class="text-center" >
    <div id="input_container">
      <h1>Triangle Evaluator</h1>
      <p> Type in 3 numbers to see what kind of triangle it creates!</p>
      <form id="length_form">
        <input type="text" id="length_one" placeholder="First Number" required>
        <input type="text" id="length_two" placeholder="Second Number" required>
        <input type="text" id="length_three" placeholder="Third Number" required>
        <button type="submit" id="user_submit">Evaluate!</button>
      </form>
      <br>
    </div>

    <div id="output">
      <div id="triangle_type"><h3>Your triangle is <span id="tri_type"></span></h3></div>
      <div id="triangle"></div>
    </div>

    <div id="triangle_info">
        <div class="info" id="equ_info">In geometry, an equilateral triangle is a triangle in which all three sides are equal. In traditional or Euclidean geometry, equilateral triangles are also equiangular; that is, all three internal angles are also congruent to each other and are each 60 degrees. They are regular polygons, and can therefore also be referred to as regular triangles.</div>
        <div class="info" id="iso_info">An isosceles triangle is a triangle with (at least) two equal sides. This property is equivalent to two angles of the triangle being equal. An isosceles triangle therefore has both two equal sides and two equal angles. The name derives from the Greek iso (same) and skelos (leg).</div>
        <div class="info" id="sca_info">Scalene triangles are triangles where each side is a different length. They are unusual in that the are defined by what they are not. Most triangles drawn at random would be scalene. The interior angles of a scalene triangle are always all different. The converse of this is also true - If all three angles are different, then the triangle is scalene, and all the sides are different lengths.</div>
        <div class="info" id="ill_info">In order to make a proper triangle the combination of the two smaller sides must be greater than the third side. <b>Or you're just not putting numbers in at all and trying to find a bug...which you will not..haha</b><div>
      </div>
  </div>

<div id="aboutTab">
  <div id="aboutTitle">About</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">The Legend Begins</h4>
      </div>
      <div class="modal-body">
        <h5>On August 11th in Portland two great minds met to make this great website.</h5> <hr>
        <div id="hunter">
          <img src="img/hunter.jpg">
          Hunter is a bowla. You can find him on a brewery tour or going fishing at the local pub.
          Get more on <a href="http://huntermeyer.site44.com" target="_blank">his website</a>.
        </div>
        <div id="mac">
          <img src="img/mac.jpg">
          Mac is a former street junkie turned pro developer. He hates clean code and the word 'elegant'.
          Check out <a href="http://maceisen.com/" target="_blank">his website</a>.
        </div>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</body>
</html>
